<!DOCTYPE html>
<html>
    <head>
        {% if title %} 
            <title>{{ title }}</title>
        {% else %}
            <title>Велкам, шабесгой!</title>
        {% endif %}    
    </head>
    <body>
        <div>
            Microblog:
            <a href="{{ url_for('index') }}">Жамкай хомяка</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Заходи</a>
            {% else %}
            <a href="{{   url_for('logout') }}"></a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>

            {% endif %}

        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>